.product {
    margin: -16px 0 16px;
    background: $s;
    &-gallery {
        &-img {
            position: relative;
            img {
                width: 100%;
            }
        }
    }
    &-mask-gray {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        background: rgba($b, 0.04);
    }
    &-favorite {
        display: block;
        position: absolute;
        z-index: 3;
        top: 16px;
        right: 15px;
        width: 24px;
        height: 24px;
        background: $w;
        border-radius: 50%;
        &:before,
        &:after {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            width: 13px;
            height: 12px;
            margin-top: -5px;
            margin-left: -6px;
            background: $tr url('../upload/favorite.svg') 50% 50% no-repeat;
            background-size: 100% 100%;
            transition: opacity $d $f;
            will-change: opacity;
        }
        &:after {
            opacity: 0;
            background-image: url('../upload/favorite-active.svg');
        }
        &.active {
            &:before {
                opacity: 0;
            }
            &:after {
                opacity: 1;
            }
        }
    }
    &-info {
        padding-top: 17px;
    }
    &-caption {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        margin: 0 -16px 5px 0;
    }
    &-articul {
        color: $b;
        padding-right: 16px;
    }
    &-status {
        color: $b;
        font-weight: 500;
        line-height: normal;
        padding: 1px 16px 2px 0;
        &-icon {
            display: inline-block;
            vertical-align: top;
            margin: 1px 7px 0 0;
        }
    }
    &-title {
        font-size: 15px;
        line-height: 1.6;
        font-weight: 900;
        color: $b;
        margin-bottom: 14px;
        h1 {
            font-size: 100%;
            font-weight: 900;
            margin: 0;
        }
    }
    &-price {
        margin-bottom: 2px;
        font-size: 20px;
        line-height: 1.2;
        font-weight: 500;
        color: $b;
        letter-spacing: -0.34px;
        &-new {
            display: inline-block;
            vertical-align: top;
            white-space: nowrap;
            color: $red;
            padding-right: 2px;
        }
        &-old {
            display: inline-block;
            vertical-align: top;
            white-space: nowrap;
            text-decoration: line-through;
            font-size: 13px;
            line-height: $lineHeight;
            color: $t;
            letter-spacing: normal;
        }
        &-block {
            padding-bottom: 14px;
        }
    }
    &-saving {
        strong {
            font-weight: 500;
            color: $red;
        }
    }
    &-sale {
        strong {
            font-weight: 500;
        }
    }
    &-action {
        padding-bottom: 1px;
        strong {
            font-weight: 500;
            color: #f3b800;
        }
        p {
            margin-bottom: 2px;
        }
    }
    &-select {
        margin-bottom: 17px;
        &-title {
            font-size: 11px;
            line-height: 1.455;
            margin-bottom: 8px;
        }
        &-block {
            position: relative;
        }
        &-toggle {
            display: block;
            padding-right: 30px;
            background: $w;
            border: 1px solid #e1e1e1;
            border-radius: 2px;
            position: relative;
            &:after {
                content: "";
                position: absolute;
                top: 50%;
                margin-top: -4px;
                right: 18px;
                width: 12px;
                height: 8px;
                background: $tr url('../upload/arrow-down.svg') 50% 50% no-repeat;
                background-size: 100% 100%;
            }
        }
        &-item {
            display: flex;
            align-items: center;
            padding: 9px 10px;
            min-height: 48px;
        }
        &-img {
            flex: 0 0 34px;
            max-width: 34px;
            padding-right: 4px;
            img {
                width: 100%;
            }
        }
        &-text {
            flex-grow: 1;
            font-weight: 500;
            color: $b;
            padding-left: 6px;
            padding-bottom: 2px;
        }
        &-panel {
            left: 0;
            right: 0;
            top: 100%;
            margin-top: -1px;
            background: $w;
            border: 1px solid #e1e1e1;
            border-radius: 2px;
        }
        &-link {
            display: block;
            &.active {
                display: none;
            }
        }
    }
    &-delivery {
        font-size: 13px;
        line-height: 1.54;
        padding-bottom: 15px;
        p {
            margin-bottom: 0;
        }
        strong {
            font-weight: 500;
            line-height: normal;
        }
        &-info {}
        &-specs {
            &-wrapper {
                padding: 0 16px 24px;
            }
            &.swiper-container {
                padding-bottom: 16px;
            }
            .swiper-pagination-bullet-active {
                width: 6px;
            }
            &-item {
                text-align: center;
                margin-bottom: 36px;
            }
            &-icon {
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 0 auto 20px;
                width: 105px;
                height: 105px;
                background: $s;
                border-radius: 50%;
                overflow: hidden;
            }
            &-title {
                font-size: 15px;
                line-height: 1.4;
                font-weight: 500;
                color: $b;
            }
        }
        &-type {
            padding: 20px 16px;
            margin-bottom: 16px;
            border-radius: 5px;
            background: $s;
            text-align: center;
            &-img {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 232px;
                min-height: 146px;
                margin: 0 auto 10px;
            }
            &-icon {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 105px;
                height: 105px;
                background: $w;
                border-radius: 50%;
                overflow: hidden;
                margin: 20px auto 31px;
            }
            &-title {
                font-size: 15px;
                line-height: 1.2;
                font-weight: 500;
                color: $b;
                margin-bottom: 17px;
            }
            &-text {
                line-height: 1.54;
                padding-bottom: 9px;
                p {
                    margin-bottom: 20px;
                    a, strong {
                        font-weight: 500;
                        line-height: normal;
                    }
                }
            }
            &-info {
                margin: 0 -16px;
                padding: 31px 16px 8px;
                border-top: 1px solid #e1e1e1;
                & > p {
                    line-height: 1.54;
                    margin-bottom: 8px;
                    strong {
                        font-weight: 500;
                        line-height: normal;
                    }
                }
            }
            &-price {
                margin-bottom: 16px;
                font-size: 15px;
                line-height: 1.3334;
                color: $b;
                strong {
                    display: block;
                    font-size: 20px;
                    line-height: 1;
                    font-weight: 500;
                }
            }
            &-yandex {
                display: inline-block;
                vertical-align: top;
                margin-left: 4px;
                width: 18px;
            }
            &-buttons {
                padding-top: 13px;
                margin-bottom: -22px;
                .button {
                    width: 100%;
                    margin-bottom: 10px;
                }
            }
            &-prices {
                padding-bottom: 1px;
                line-height: 1.54;
                p {
                    margin-bottom: 20px;
                    strong {
                        color: $b;
                        font-weight: 500;
                        line-height: normal;
                    }
                }
            }
        }
    }
    &-credit {
        margin: 0 -16px;
        border-top: 1px solid #e1e1e1;
        &-button {
            display: block;
            padding: 17px 16px 15px;
            font-size: 13px;
            line-height: 1.54;
            color: $text;
            strong {
                font-weight: 500;
                line-height: normal;
            }
        }
        &-icon {
            display: inline-block;
            vertical-align: top;
            width: 18px;
            margin-right: 7px;
        }
    }
    &-tab {}
    &-tabs {
        display: flex;
        margin: 0;
        padding: 4px 1px 16px;
        list-style: none;
        overflow: auto;
        -webkit-overflow-scrolling: touch;
        overflow-scrolling: touch;
        scrollbar-width: none;
        &::-webkit-scrollbar {
            width: 0;
            height: 0;
        }
        &::-webkit-scrollbar-track {
            background: $tr;
        }
        &::-webkit-scrollbar-thumb {
            background-color: $tr;
            outline: none;
        }
        &::-webkit-scrollbar-button {
            width: 0;
            height: 0;
            display: none;
        }
        &::-webkit-scrollbar-corner {
            background: $tr;
        }
        li {
            padding: 0 15px;
            a {
                display: block;
                padding: 7px 0 5px;
                line-height: 1.154;
                color: $gr;
                white-space: nowrap;
                border-bottom: 2px solid $tr;
                transition: color $d $f, border-color $d $f;
                will-change: color, border-color;
                strong {
                    font-weight: 500;
                    color: $p;
                }
            }
            &.active {
                a {
                    color: $b;
                    font-weight: 500;
                    border-bottom-color: $p;
                }
            }
        }
        &-rating {
            width: 95px;
            margin-left: 6px;
            display: inline-block;
            vertical-align: top;
            font-size: 0;
            line-height: 0;
            img {
                display: inline-block;
                vertical-align: top;
                width: 16px;
                margin-right: 3px;
            }
            &-text {
                display: inline-block;
                vertical-align: top;
                font-weight: 500;
            }
        }
    }
    &-specs {
        margin-bottom: 8px;
        &-list {
            width: 100%;
            border-spacing: 0;
            border-bottom: 1px solid rgba(0, 0, 0, 0.1);
            td {
                padding: 12px 16px 10px 0;
                border: 0;
                vertical-align: middle;
                text-align: right;
                color: $b;
                width: 40%;
                &:first-child {
                    text-align: left;
                    padding-left: 16px;
                    color: $text;
                    width: 60%;
                }
            }
            tr {
                &:nth-child(odd) {
                    td {
                        background: $s;
                    }
                }
            }
        }
        &-more {
            padding: 15px 16px 0;
        }
        &-more-button {
            display: block;
            text-align: center;
            font-weight: 500;
            padding: 10px 0 12px;
        }
    }
    &-features {
        &-list {
            margin-bottom: 39px;
            &.swiper-container {
                overflow: visible;
                padding-bottom: 6px;
            }
            .swiper-slide {
                width: 143px;
            }
        }
    }
    &-feature {
        padding: 0 5px 10px;
        text-align: center;
        &-img {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 75px;
            height: 75px;
            margin: 0 auto 14px;
        }
        &-title {
            margin-bottom: 12px;
            color: $b;
        }
    }
    &-attention {
        &-block {
            margin-bottom: 30px;
            background: $s;
            padding: 0 24px 9px;
            text-align: center;
            font-size: 11px;
            line-height: 1.455;
            color: $gr;
            p {
                margin-bottom: 11px;
            }
        }
        &-icon {
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            top: -8px;
            margin: 0 auto 5px;
            padding-bottom: 4px;
            width: 40px;
            height: 40px;
            background: $w;
            border-radius: 50%;
            box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
        }
        &-title {
            font-size: 13px;
            line-height: $lineHeight;
            font-weight: 500;
            color: $b;
            margin-bottom: 3px;
            h3 {
                font-size: 100%;
                font-weight: 500;
                margin: 0;
            }
        }
    }
    &-description {
        &-title {
            font-size: 13px;
            font-weight: 500;
            color: $b;
            margin-bottom: 16px;
            h3, h4, h5, h6 {
                font-size: 100%;
                font-weight: 500;
                margin: 0;
            }
        }
        &-img {
            margin-bottom: 17px;
            img {
                width: 100%;
            }
        }
        p {
            margin-bottom: 18px;
        }
        hr {
            display: block;
            margin: 0 -16px 16px;
            border: 0;
            border-bottom: 1px solid #e1e1e1;
        }
    }
    &-file {
        margin-bottom: 8px;
        &-link {
            display: flex;
            align-items: center;
            padding: 8px 0;
        }
        &-icon {
            flex: 0 0 56px;
            max-width: 56px;
            padding-right: 16px;
            img {
                margin: 0 auto;
            }
        }
        &-text {
            flex-grow: 1;
        }
        &-title {
            display: block;
            margin-bottom: 4px;
            font-weight: 500;
            color: $b;
        }
        &-info {
            display: block;
            margin-bottom: 3px;
            font-size: 11px;
            line-height: 1.364;
            color: $gr;
        }
    }
    &-video {
        padding-bottom: 20px;
        margin-bottom: 8px;
        background: $s;
        &-block {
            margin-bottom: 16px;
            position: relative;
            height: 0;
            padding-top: 56.25%;
            iframe {
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
            }
        }
        &-title {
            font-size: 13px;
            font-weight: 500;
            color: $b;
            margin-bottom: 13px;
            h3, h4, h5, h6 {
                font-size: 100%;
                font-weight: 500;
                margin: 0;
            }
        }
        p {
            line-height: 1.54;
            margin-bottom: 20px;
        }
        .product-file {
            margin-left: -4px;
        }
    }
    &-brand {
        text-align: center;
        &-title {
            font-size: 20px;
            line-height: 1.2;
            font-weight: bold;
            color: $b;
            margin-bottom: 24px;
            h3, h4, h5, h6 {
                font-size: 100%;
                font-weight: bold;
                margin: 0;
            }
        }
        &-logo {
            margin-bottom: 12px;
            a {
                display: inline-block;
                vertical-align: top;
            }
        }
        p {
            line-height: 1.54;
            margin-bottom: 8px;
        }
        &-all {
            margin-bottom: 18px;
            a {
                display: block;
                text-align: center;
                padding: 10px 0;
                font-weight: 500;
                letter-spacing: -0.24px;
            }
        }
        &-feature {
            display: block;
            text-align: center;
            margin-bottom: 28px;
        }
        &-feature-icon {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 104px;
            height: 104px;
            margin: 0 auto 13px;
            background: $s;
            border-radius: 50%;
        }
        &-feature-img {
            display: block;
            max-width: 42px;
            border: 3px solid $w;
            box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1);
        }
        &-feature-title {
            display: block;
            color: $b;
        }
    }
    &-discount {
        padding-bottom: 12px;
        &-list {
            &.swiper-container {
                overflow: visible;
                padding-bottom: 22px;
            }
            .swiper-slide {
                width: 288px;
            }
        }
        &-item {
            text-align: center;
            margin-bottom: 16px;
            background: rgba(#f3b800, 0.1);
        }
        &-img {
            img {
                width: 100%;
            }
        }
        &-content {
            padding: 0 16px 16px;
        }
        &-icon {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 40px;
            height: 40px;
            margin: -20px auto 7px;
            background: #f3b800;
            border-radius: 50%;
            position: relative;
        }
        &-title {
            font-weight: 500;
            color: $b;
            padding-top: 9px;
            margin-bottom: 8px;
        }
        &-info {
            padding: 0 12px;
            font-size: 11px;
            line-height: 1.455;
            color: $gray;
            margin-bottom: 16px;
        }
        &-price {
            font-weight: 500;
            color: $b;
            margin-bottom: 5px;
            strong {
                font-weight: 500;
                color: $red;
            }
        }
        &-saving {
            line-height: 1.231;
            margin-bottom: 6px;
            strong {
                display: block;
                font-weight: 500;
                color: $red;
            }
        }
        &-button {
            padding-top: 10px;
            .button {
                width: 100%;
            }
        }
    }
    &-set {
        margin-bottom: 16px;
        .caption {
            margin-bottom: 20px;
        }
        &-list {
            display: flex;
            flex-wrap: wrap;
            margin: 0 -4px;
        }
        &-col {
            flex: 0 0 50%;
            max-width: 50%;
            padding: 0 4px;
        }
        &-tabs {
            display: flex;
            margin: -12px -16px 16px;
            padding: 0 1px;
            list-style: none;
            overflow: auto;
            -webkit-overflow-scrolling: touch;
            overflow-scrolling: touch;
            scrollbar-width: none;
            &::-webkit-scrollbar {
                width: 0;
                height: 0;
            }
            &::-webkit-scrollbar-track {
                background: $tr;
            }
            &::-webkit-scrollbar-thumb {
                background-color: $tr;
                outline: none;
            }
            &::-webkit-scrollbar-button {
                width: 0;
                height: 0;
                display: none;
            }
            &::-webkit-scrollbar-corner {
                background: $tr;
            }
            li {
                padding: 0 15px;
                a {
                    display: block;
                    padding: 7px 0 5px;
                    line-height: 1.154;
                    color: $gr;
                    white-space: nowrap;
                    border-bottom: 2px solid $tr;
                    transition: color $d $f, border-color $d $f;
                    will-change: color, border-color;
                }
                &.active {
                    a {
                        color: $b;
                        font-weight: 500;
                        border-bottom-color: $p;
                    }
                }
            }
        }
        &-buy {
            margin-bottom: 30px;
            &-button {
                .button {
                    width: 100%;
                }
            }
        }
        &-slider {
            margin-bottom: 8px;
            &.swiper-container {
                overflow: visible;
                padding-bottom: 6px;
            }
            .swiper-slide {
                width: 140px;
                &:first-child {
                    .product-set-plus {
                        display: none;
                    }
                }
            }
            .product-set-item {
                margin-bottom: 16px;
            }
        }
        &-plus {
            position: absolute;
            z-index: 5;
            left: -24px;
            top: 32px;
            width: 40px;
            height: 40px;
            background: $w;
            border-radius: 50%;
            &:before {
                content: "";
                position: absolute;
                top: 19px;
                left: 13px;
                width: 14px;
                height: 2px;
                background: $t;
            }
            &:after {
                content: "";
                position: absolute;
                top: 13px;
                left: 19px;
                width: 2px;
                height: 14px;
                background: $t;
            }
        }
        &-total {
            padding: 25px 30px 28px;
            margin-bottom: 8px;
            background: $s;
            &-title {
                font-weight: 500;
                color: $b;
                margin-bottom: 14px;
            }
            &-price {
                margin-bottom: 17px;
                font-size: 30px;
                line-height: 1.14;
                font-weight: 500;
                color: $b;
                letter-spacing: -0.52px;
                &-old {
                    font-size: 16px;
                    line-height: 1.25;
                    font-weight: normal;
                    color: $t;
                    letter-spacing: 0;
                    white-space: nowrap;
                    text-decoration: line-through;
                }
                &-new {
                    white-space: nowrap;
                }
            }
            &-saving {
                line-height: 1.31;
                strong {
                    display: block;
                    font-weight: 500;
                    color: $red;
                    white-space: nowrap;
                }
            }
        }
        &-item {
            text-align: center;
            margin-bottom: 24px;
        }
        &-checkbox {
            margin-bottom: 8px;
            input {
                appearance: none;
                position: absolute;
                left: -9999px;
                &:checked + label {
                    &:before {
                        background-color: $p;
                        border-color: $p;
                    }
                    &:after {
                        opacity: 1;
                    }
                    .product-set-img {
                        opacity: 1;
                    }
                }
                &:disabled + label {
                    cursor: default;
                    pointer-events: none;
                    opacity: 0.3;
                }
            }
            label {
                cursor: pointer;
                display: block;
                margin: 0;
                background: $s;
                position: relative;
                user-select: none;
                &:before,
                &:after {
                    content: "";
                    position: absolute;
                    z-index: 2;
                    left: 8px;
                    bottom: 8px;
                    width: 16px;
                    height: 16px;
                    border-radius: 2px;
                }
                &:before {
                    background: $w;
                    border: 1px solid $t;
                    transition: background-color $d $f, border-color $d $f;
                    will-change: background-color, border-color;
                }
                &:after {
                    opacity: 0;
                    background: $tr url('../upload/check.svg') 50% 50% no-repeat;
                    background-size: 8px 6px;
                    transition: opacity $d $f;
                    will-change: opacity;
                }
            }
        }
        &-img {
            display: block;
            opacity: 0.3;
            transition: opacity $d $f;
            will-change: opacity;
            img {
                width: 100%;
            }
        }
        &-title {
            font-size: 11px;
            line-height: 1.455;
            margin-bottom: 6px;
            a {
                display: block;
                color: $text;
            }
        }
        &-price {
            margin-bottom: 12px;
            font-size: 13px;
            line-height: 1.231;
            font-weight: 500;
            color: $b;
            &-old {
                display: inline-block;
                vertical-align: top;
                white-space: nowrap;
                font-size: 11px;
                line-height: 1.455;
                color: $t;
                text-decoration: line-through;
            }
            &-new {
                display: inline-block;
                vertical-align: top;
                white-space: nowrap;
                color: $red;
            }
        }
        &-number {
            display: flex;
            justify-content: center;
        }
        &-number-minus,
        &-number-plus {
            display: block;
            width: 28px;
            height: 28px;
            border-radius: 3px;
            background: $s;
            position: relative;
            transition: background-color $d $f;
            will-change: background-color;
            &:before {
                content: "";
                position: absolute;
                top: 13px;
                left: 9px;
                width: 10px;
                height: 2px;
                background: $t;
                transition: background-color $d $f;
                will-change: background-color;
            }
            &:hover {
                background-color: $p;
                &:before,
                &:after {
                    background-color: $w;
                }
            }
        }
        &-number-plus {
            &:after {
                content: "";
                position: absolute;
                top: 9px;
                left: 13px;
                width: 2px;
                height: 10px;
                background: $t;
                transition: background-color $d $f;
                will-change: background-color;
            }
        }
        &-number-text {
            display: block;
            width: 38px;
            height: 28px;
            font-size: 15px;
            line-height: normal;
            color: $b;
            font-weight: 500;
            text-align: center;
            padding: 4px;
            background: $tr;
            border: 0;
            border-radius: 0;
        }
    }
    &-customer {
        padding: 8px 0 15px;
        &-title {
            font-size: 13px;
            font-weight: 500;
            color: $b;
            margin-bottom: 16px;
            strong {
                font-weight: 500;
                color: $p;
            }
            h3, h4, h5, h6 {
                font-size: 100%;
                font-weight: 500;
                margin: 0;
            }
        }
        &-photo {
            margin-bottom: 16px;
            &.swiper-container {
                overflow: visible;
                padding-bottom: 8px;
                .swiper-scrollbar {
                    height: 8px;
                }
            }
            .swiper-slide {
                width: 128px;
            }
        }
        &-photo-item {
            display: block;
            margin-bottom: 16px;
            img {
                width: 100%;
            }
        }
        &-info {
            color: $b;
            p {
                margin-bottom: 18px;
            }
            strong {
                font-weight: 500;
            }
        }
    }
    &-color {
        text-align: center;
        padding: 20px 0 16px;
        &-block {
            display: inline-flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            max-width: 166px;
            padding: 10px;
            border-radius: 5px;
            box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.1);
            background-color: $w;
        }
        &-caption {
            font-size: 11px;
            line-height: 1.455;
            padding: 4px 5px 6px;
        }
        &-item {
            position: relative;
            padding: 5px;
        }
        &-toggle {
            display: block;
            width: 24px;
            height: 24px;
            padding: 2px;
            border: 1px solid #E1E1E1;
            border-radius: 50%;
            &.active {
                border-color: $b;
            }
        }
        &-bg {
            display: block;
            height: 18px;
            border-radius: 50%;
            background-position: 50% 50%;
            background-repeat: no-repeat;
            background-size: cover;
        }
        &-panel {
            width: 235px;
            left: 50%;
            bottom: 100%;
            margin: 0 0 8px -117px;
            padding: 12px;
            border-radius: 5px;
            box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.2);
            background-color: $w;
            &::after {
                content: "";
                position: absolute;
                left: 50%;
                margin-left: -7px;
                top: 100%;
                width: 0;
                height: 0;
                border: 7px solid $tr;
                border-top-color: $w;
            }
        }
        &-img {
            position: relative;
            overflow: hidden;
            &::before {
                content: "";
                position: absolute;
                left: 0;
                right: 0;
                bottom: 0;
                height: 66px;
                opacity: 0.5;
                background-image: linear-gradient(180deg, rgba(0,0,0,0.00) 0%, #000000 100%);
            }
            img {
                width: 100%;
            }
        }
        &-bg-big {
            height: 0;
            padding-top: 100%;
        }
        &-title {
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            padding: 0 10px 13px;
            color: $w;
            font-weight: 500;
            text-align: center;
        }
    }
    &-three-d {
        &-wrapper {
            padding: 30px 0 24px;
            margin-bottom: 8px;
            position: relative;
            background: $s;
        }
        &-block {
            margin-bottom: 99px;
        }
        &-range {
            margin: 0 16px 25px;
            cursor: pointer;
            position: relative;
            height: 6px;
            background: #E1E1E1;
            border-radius: 3px;
            &-bar {
                position: absolute;
                top: 0;
                bottom: 0;
                background: $tr;
            }
            &-handle-min,
            &-handle-max {
                position: absolute;
                top: -11px;
                width: 29px;
                height: 29px;
                border: 5px solid $p;
                background: $w;
                border-radius: 50%;
                box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
                &:before {
                    content: "";
                    position: absolute;
                    top: -15px;
                    left: -15px;
                    right: -15px;
                    bottom: -15px;
                }
            }
            &-handle-min {
                display: none;
            }
        }
        &-icon {
            position: absolute;
            left: 20px;
            top: 20px;
            width: 40px;
            height: 40px;
            background: $tr url('../upload/3d.svg') 50% 50% no-repeat;
            background-size: 100% 100%;
        }
        &-play {
            display: block;
            position: absolute;
            bottom: 113px;
            left: 50%;
            margin-left: -20px;
            width: 40px;
            height: 40px;
            background: $w;
            border-radius: 50%;
            &::before,
            &::after {
                content: "";
                position: absolute;
                left: 0;
                top: 0;
                right: 0;
                bottom: 0;
                background: $tr url('../upload/play.svg') calc(50% + 1px) 50% no-repeat;
                background-size: 12px 14px;
                transition: opacity $d $f;
                will-change: opacity;
            }
            &::after {
                opacity: 0;
                background-image: url('../upload/pause.svg');
                background-position: 50% 50%;
                background-size: 10px 14px;
            }
            &.active {
                &::before {
                    opacity: 0;
                }
                &::after {
                    opacity: 1;
                }
            }
        }
        &-note {
            padding: 0 16px;
            font-size: 11px;
            line-height: 1.182;
            color: $gray;
            text-align: center;
        }
    }
    &-rating {
        padding: 1px 16px 2px 0;
        line-height: normal;
        font-weight: 500;
        color: #ffa22a;
        img {
            display: inline-block;
            vertical-align: top;
            width: 16px;
            margin-right: 6px;
        }
    }
    &-showroom {
        padding: 8px 0 27px;
        &-block {
            padding: 22px 16px 26px;
            background: $s;
        }
        &-info {
            display: flex;
            align-items: center;
            margin-bottom: 20px;
        }
        &-icon {
            flex: 0 0 63px;
            max-width: 63px;
            padding-right: 13px;
            span {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 50px;
                height: 50px;
                background: $w;
                border-radius: 50%;
                overflow: hidden;
            }
        }
        &-text {
            flex-grow: 1;
            max-width: calc(100% - 63px);
            p {
                margin-bottom: 4px;
            }
        }
        &-title {
            font-weight: 500;
            color: $b;
            margin-bottom: 8px;
        }
        &-call {
            .button {
                width: 100%;
            }
        }
    }
    &-advantages {
        margin-bottom: 24px;
        &.swiper-container {
            overflow: visible;
            padding-bottom: 6px;
        }
        .swiper-slide {
            width: 214px;
            margin-top: 0 !important;
        }
    }
    &-advantage {
        margin-bottom: 16px;
        font-size: 11px;
        line-height: 1.455;
        color: $b;
        &.active {
            .product-advantage-more {
                &::after {
                    transform: rotate(-180deg);
                }
                &-show {
                    display: none;
                }
                &-hide {
                    display: block;
                }
            }
        }
        &-img {
            position: relative;
            height: 0;
            padding-top: 56.43%;
            background: $s;
            margin-bottom: 10px;
            img {
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        &-title {
            font-weight: 500;
            margin-bottom: 6px;
        }
        p {
            margin-bottom: 0;
        }
        &-text {}
        &-detail {
            display: none;
        }
        &-more {
            display: inline-block;
            vertical-align: top;
            position: relative;
            font-weight: 500;
            padding: 8px 25px 5px 0;
            &::after {
                content: "";
                position: absolute;
                top: 50%;
                margin-top: -10px;
                right: 0;
                width: 24px;
                height: 24px;
                background: $tr url('../upload/arrow-down2.svg') 50% 50% no-repeat;
                background-size: 100% 100%;
                transition: transform $d $f;
                will-change: transform;
            }
            &-show {
                display: block;
            }
            &-hide {
                display: none;
            }
        }
        &-video {
            margin-bottom: 10px;
            &-link {
                display: block;
                position: relative;
                height: 0;
                padding-top: 56.43%;
                background: $s;
                &::before {
                    content: "";
                    position: absolute;
                    z-index: 2;
                    left: 0;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    background: rgba(0, 0, 0, 0.4);
                    opacity: 0.7;
                }
                &::after {
                    content: "";
                    position: absolute;
                    z-index: 3;
                    left: 50%;
                    top: 50%;
                    margin: -20px 0 0 -20px;
                    width: 40px;
                    height: 40px;
                    background: $w url('../upload/play2.svg') 50% 50% no-repeat;
                    background-size: 100% 100%;
                    border-radius: 50%;
                }
                img {
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
    }
    &-buy {
        padding-top: 3px;
        margin-bottom: 20px;
        .button {
            width: 100%;
            font-size: 15px;
            padding: 16px 10px;
        }
    }
    &-thumbnails {
        margin-bottom: 20px;
        &.swiper-container {
            overflow: visible;
        }
    }
    &-thumbnail {
        display: block;
        height: 0;
        padding-top: 100%;
        position: relative;
        background: $w;
        img {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            object-fit: contain;
            transition: opacity $d $f;
            will-change: opacity;
        }
        &.active {
            box-shadow: 0 0 0 2px #E1E1E1;
        }
        &-opacity {
            img {
                opacity: 0.2;
            }
        }
    }
    &-about {
        &-nav {
            display: block;
            margin: 0;
            padding: 16px 0 32px;
            list-style: none;
            li {
                border-bottom: 1px solid #E1E1E1;
                &:first-child {
                    border-top: 1px solid #E1E1E1;
                }
                a {
                    display: block;
                    position: relative;
                    padding: 16px 40px 17px 16px;
                    font-size: 15px;
                    line-height: 1.4;
                    color: $b;
                    font-weight: 500;
                    &::after {
                        content: "";
                        position: absolute;
                        top: 50%;
                        margin-top: -20px;
                        right: 4px;
                        width: 40px;
                        height: 40px;
                        background: $tr url('../upload/arrow-right2.svg') 50% 50% no-repeat;
                        background-size: 100% 100%;
                    }
                    strong {
                        font-weight: 500;
                        color: $p;
                        padding-right: 8px;
                    }
                }
            }
            &-rating {
                display: inline-block;
                vertical-align: top;
                font-size: 0;
                line-height: 0;
                white-space: nowrap;
                padding: 2px 0 0 4px;
                &-list {
                    display: inline-block;
                    vertical-align: top;
                    padding: 1px 6px 0 0;
                    img {
                        display: inline-block;
                        vertical-align: top;
                        width: 15px;
                        margin-right: 2px;
                    }
                }
                &-text {
                    display: inline-block;
                    vertical-align: top;
                    font-size: 13px;
                    line-height: 1.385;
                    color: $gr;
                    font-weight: 500;
                }
            }
        }
        &-panel {
            position: fixed;
            z-index: 4100;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: $w;
            padding-top: 53px;
            transform: translateX(101%);
            transition: transform $d*2 $f;
            will-change: transform;
            &.show {
                transform: translateX(0);
            }
            &-caption {
                position: fixed;
                z-index: 4150;
                top: 0;
                left: 0;
                width: 100%;
                height: 53px;
                padding: 0 44px 0 37px;
                background: $w;
                box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
                transform: translateX(101%);
                transition: transform $d*2 $f;
                will-change: transform;
                &-back {
                    position: absolute;
                    left: 0;
                    top: 0;
                    bottom: 0;
                    width: 37px;
                    svg {
                        margin: 0;
                        position: absolute;
                        left: 9px;
                        top: 14px;
                    }
                }
            }
            &-title {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                font-size: 15px;
                line-height: 1.334;
                font-weight: 900;
                color: $b;
                padding: 15px 0 18px;
            }
            &-close {
                position: absolute;
                right: 0;
                top: 0;
                bottom: 0;
                width: 44px;
                svg {
                    margin: 0;
                    position: absolute;
                    top: 6px;
                    right: 4px;
                }
            }
            &-content {
                padding: 40px 0;
                height: 100%;
                max-height: 100%;
                overflow-y: auto;
                overflow-x: hidden;
                -webkit-overflow-scrolling: touch;
                overflow-scrolling: touch;
                scrollbar-width: none;
                &::-webkit-scrollbar {
                    width: 0;
                    height: 0;
                }
                &::-webkit-scrollbar-track {
                    background: $tr;
                }
                &::-webkit-scrollbar-thumb {
                    background-color: $tr;
                    outline: none;
                }
                &::-webkit-scrollbar-button {
                    width: 0;
                    height: 0;
                    display: none;
                }
                &::-webkit-scrollbar-corner {
                    background: $tr;
                }
            }
            &-back-wrap {
                padding: 16px 16px 0;
                .button {
                    width: 100%;
                }
            }
            .product-attention {
                padding-top: 48px;
                &-block {
                    margin-bottom: 0;
                }
            }
            .product-reviews {
                padding-bottom: 0;
                &-more {
                    padding-bottom: 0;
                }
            }
        }
    }
}
.product-cta {
    position: fixed;
    z-index: 3000;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 107px;
    background: $s;
    padding: 16px 0;
    &-v2 {
        height: 120px;
    }
    &-v3 {
        height: 192px;
    }
    &-push {
        height: 107px;
    }
    &-push-v2 {
        height: 120px;
    }
    &-push-v3 {
        height: 192px;
    }
    &-cart {
        display: flex;
        margin-bottom: 5px;
        box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.05);
        &-add {
            flex-grow: 1;
            max-width: calc(100% - 93px);
            &-button {
                width: 100%;
                white-space: nowrap;
            }
            .button {
                border-radius: 3px 0 0 3px;
            }
        }
        &-add-full {
            flex: 0 0 100%;
            max-width: 100%;
            .button {
                width: 100%;
            }
        }
        &-icon {
            display: inline-block;
            vertical-align: top;
            margin: -4px 12px -5px 0;
            width: 25px;
            height: 24px;
            background: $tr url('../upload/cart-white.svg') 50% 50% no-repeat;
            background-size: 100% 100%;
        }
        &-more {
            flex: 0 0 93px;
            max-width: 93px;
            &-button {
                display: block;
                padding: 10px 16px 12px;
                text-align: center;
                white-space: nowrap;
                font-weight: 500;
                color: $b;
                background: $w;
                border-radius: 0 3px 3px 0;
            }
        }
        &-plus {
            display: inline-block;
            vertical-align: top;
            margin: 5px 9px 0 0;
            width: 10px;
            height: 10px;
            background: $tr url('../upload/plus.svg') 50% 50% no-repeat;
            background-size: 100% 100%;
        }
    }
    &-buy {
        text-align: center;
        &-button {
            display: block;
            padding: 6px 0;
            font-weight: 500;
            letter-spacing: -0.24px;
            text-decoration: underline;
        }
    }
    &-not-available {
        padding-bottom: 14px;
        text-align: center;
        color: $t;
        font-weight: 500;
    }
    &-order {
        padding-top: 11px;
        border-top: 1px solid #e1e1e1;
        text-align: center;
        a {
            display: block;
            padding: 6px 0;
            color: $text;
        }
        strong {
            font-weight: 500;
        }
    }
    &-sale {
        padding-top: 3px;
        .button {
            width: 100%;
            white-space: nowrap;
            box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.05);
        }
        &-icon {
            display: inline-block;
            vertical-align: top;
            margin: -4px 8px -5px 0;
        }
    }
    &-total {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        line-height: normal;
        margin-bottom: 15px;
        &-number {
            max-width: 50%;
            font-weight: 500;
            color: $b;
            padding-right: 16px;
        }
        &-sum {
            max-width: 50%;
            text-align: right;
            font-weight: 500;
            color: $b;
        }
        &-saving {
            flex: 0 0 100%;
            max-width: 100%;
            text-align: right;
            padding-top: 5px;
            strong {
                white-space: nowrap;
                font-weight: 500;
                color: $red;
            }
        }
    }
}
.product-about-show {
    body {
        touch-action: none;
        -webkit-overflow-scrolling: none;
        overflow: hidden;
        overscroll-behavior: none;
    }
    .product-about-panel-caption {
        transform: translateX(0);
    }
}
.no-js {
    .product-about-panel,
    .product-about-panel-caption {
        display: none;
    }
}

@media (min-width: $screen) {
    .product {
        margin-top: -24px;
        margin-bottom: 24px;
        &-favorite {
            top: 20px;
            right: 20px;
            width: 32px;
            height: 32px;
            &:before,
            &:after {
                width: 18px;
                height: 16px;
                margin-top: -7px;
                margin-left: -9px;
            }
        }
        &-info {
            padding-top: 21px;
        }
        &-articul {
            font-size: 17px;
            line-height: 1.5;
        }
        &-status {
            font-size: 17px;
            padding-top: 2px;
            padding-bottom: 3px;
            &-icon {
                margin-right: 8px;
                margin-left: 2px;
                img {
                    width: 17px;
                }
            }
        }
        &-title {
            font-size: 20px;
        }
        &-price {
            font-size: 26px;
            line-height: 1.1;
            letter-spacing: -0.45px;
            &-new {
                padding-right: 7px;
            }
            &-old {
                font-size: 17px;
                line-height: 1.5;
            }
            &-block {
                padding-bottom: 24px;
            }
        }
        &-saving {
            padding-top: 22px;
        }
        &-saving,
        &-sale,
        &-action {
            font-size: 17px;
            line-height: 1.3;
        }
        &-select {
            margin-bottom: 26px;
            &-title {
                font-size: 15px;
                line-height: 1.2;
            }
            &-toggle {
                padding-right: 40px;
                &:after {
                    right: 26px;
                    width: 14px;
                    height: 9px;
                }
            }
            &-item {
                padding: 13px 12px;
                min-height: 66px;
            }
            &-img {
                flex: 0 0 46px;
                max-width: 46px;
                padding-right: 6px;
            }
            &-text {
                font-size: 17px;
                line-height: 1.5;
                padding-bottom: 4px;
            }
        }
        &-delivery {
            font-size: 17px;
            line-height: 1.3;
            padding-bottom: 23px;
            &-specs {
                .swiper-pagination-bullet-active {
                    width: 8px;
                }
            }
        }
        &-credit {
            &-button {
                padding-top: 28px;
                padding-bottom: 24px;
                font-size: 17px;
                line-height: 1.24;
            }
            &-icon {
                width: 25px;
                margin-top: -5px;
                margin-right: 13px;
            }
        }
        &-tabs {
            padding-top: 3px;
            padding-bottom: 19px;
            li {
                padding-right: 25px;
                a {
                    padding-bottom: 11px;
                    font-size: 17px;
                    line-height: 1.24;
                    border-bottom-width: 3px;
                }
            }
            &-rating {
                width: 115px;
                margin-top: 2px;
                img {
                    width: 19px;
                    margin-right: 4px;
                }
            }
        }
        &-specs {
            &-list {
                td {
                    padding-top: 15px;
                    padding-bottom: 14px;
                    font-size: 17px;
                    line-height: 1.5;
                }
            }
            &-more {
                padding-top: 24px;
            }
            &-more-button {
                padding-top: 12px;
                padding-bottom: 16px;
                font-size: 17px;
                line-height: 1.5;
            }
        }
        &-features {
            &-list {
                margin-bottom: 51px;
                &.swiper-container {
                    padding-bottom: 8px;
                }
                .swiper-slide {
                    width: 196px;
                }
            }
        }
        &-feature {
            padding-top: 6px;
            padding-bottom: 17px;
            &-img {
                width: 100px;
                height: 100px;
                margin-bottom: 17px;
                img {
                    width: 100%;
                }
            }
            &-title {
                font-size: 17px;
                line-height: 1.12;
            }
        }
        &-attention {
            &-block {
                margin-bottom: 39px;
                padding: 0 20px 20px;
                font-size: 15px;
                line-height: 1.334;
            }
            &-icon {
                top: -11px;
                margin-bottom: 9px;
                padding-bottom: 6px;
                width: 56px;
                height: 56px;
                img {
                    width: 31px;
                }
            }
            &-title {
                font-size: 17px;
                line-height: 1.24;
                margin-bottom: 9px;
            }
        }
        &-rating {
            font-size: 17px;
            padding-top: 2px;
            padding-bottom: 3px;
            img {
                width: 19px;
                margin-top: 1px;
                margin-right: 8px;
            }
        }
        &-advantages {
            &.swiper-container {
                padding-bottom: 8px;
            }
        }
    }
    .product-cta {
        height: 150px;
        padding-top: 29px;
        &-v2 {
            height: 180px;
        }
        &-v3 {
            height: 230px;
        }
        &-push {
            height: 150px;
        }
        &-push-v2 {
            height: 180px;
        }
        &-push-v3 {
            height: 230px;
        }
        &-cart {
            margin-bottom: 9px;
            &-add {
                max-width: calc(100% - 128px);
                .button {
                    font-size: 17px;
                    padding-top: 16px;
                    padding-bottom: 19px;
                }
            }
            &-add-full {
                .button {
                    font-size: 17px;
                    padding-top: 16px;
                    padding-bottom: 19px;
                }
            }
            &-icon {
                margin: -3px 13px -6px 8px;
                width: 30px;
                height: 29px;
            }
            &-more {
                flex: 0 0 128px;
                max-width: 128px;
                &-button {
                    font-size: 17px;
                    line-height: normal;
                    padding-top: 16px;
                    padding-bottom: 19px;
                }
            }
            &-plus {
                margin: 6px 15px 0 0;
            }
        }
        &-buy {
            &-button {
                padding-top: 8px;
                padding-bottom: 8px;
                font-size: 17px;
                line-height: 1.5;
                letter-spacing: -0.31px;
            }
        }
        &-not-available {
            font-size: 17px;
            line-height: 1.5;
        }
        &-order {
            padding-top: 14px;
            font-size: 17px;
            line-height: 1.5;
        }
        &-sale {
            .button {
                font-size: 17px;
                padding-top: 16px;
                padding-bottom: 19px;
            }
            &-icon {
                margin: -4px 13px -6px 0;
                img {
                    width: 30px;
                }
            }
        }
        &-total {
            font-size: 17px;
            line-height: 1.5;
            margin-bottom: 20px;
        }
    }
}