.wholesale {
    &-hero {
        margin-top: -16px;
        color: $w;
        background: $dgr 50% 50% no-repeat;
        background-size: cover;
        &-content {
            padding: 33px 0 20px;
            min-height: 220px;
        }
        &-title {
            font-size: 18px;
            line-height: 1.223;
            font-weight: 900;
            text-align: center;
            margin-bottom: 20px;
            h1 {
                font-size: 100%;
                font-weight: 900;
                margin: 0;
            }
        }
    }
    &-advantages {
        padding: 39px 0 13px;
        background: $s;
        &-item {
            padding: 13px 0 27px;
            text-align: center;
        }
        &-icon {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 125px;
            height: 125px;
            background: $w;
            border-radius: 50%;
            overflow: hidden;
            margin: 0 auto 24px;
        }
        &-info {
            color: $b;
        }
        &-slider {
            &.swiper-container {
                padding-bottom: 25px;
                margin-bottom: 11px;
            }
            .swiper-pagination-bullet-active {
                width: 6px;
            }
            .wholesale-advantages-info {
                min-height: 36px;
            }
        }
    }
    &-apply {
        padding-top: 39px;
        .caption {
            margin-bottom: 23px;
        }
        &-button {
            padding-top: 6px;
            .button {
                width: 100%;
            }
        }
    }
    &-contacts {
        padding: 39px 0 20px;
        border-bottom: 1px solid #e1e1e1;
        text-align: center;
        &-no-border {
            border-bottom: 0;
        }
        .caption {
            margin-bottom: 21px;
        }
        &-item {
            margin-bottom: 14px;
            a {
                display: block;
                padding: 6px 0;
                color: $b;
            }
        }
    }
    &-clients {
        padding-bottom: 14px;
        border-bottom: 1px solid #e1e1e1;
        &-list {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-around;
            margin: 0 -4px;
        }
        &-item {
            padding: 0 4px 25px;
            a {
                display: block;
                img {
                    filter: grayscale(100%);
                }
            }
        }
    }
    &-categories {
        padding-top: 39px;
        border-bottom: 1px solid #e1e1e1;
    }
    &-subcategory {
        padding: 5px 0 15px;
        &-caption {
            display: flex;
            align-items: center;
            margin-bottom: 20px;
        }
        &-icon {
            flex: 0 0 62px;
            max-width: 62px;
            padding-right: 12px;
            span {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 50px;
                height: 50px;
                overflow: hidden;
                background: $s;
                border-radius: 50%;
            }
        }
        &-title {
            flex-grow: 1;
            font-size: 15px;
            line-height: 1.334;
            font-weight: 500;
            color: $b;
        }
        &-list {
            margin-bottom: 24px;
            &.swiper-container {
                overflow: visible;
                padding-bottom: 6px;
            }
            .swiper-slide {
                width: 140px;
            }
        }
        &-product {
            display: block;
            text-align: center;
            padding-bottom: 12px;
            &-img {
                display: block;
                margin-bottom: 7px;
                img {
                    width: 100%;
                }
            }
            &-title {
                display: block;
                font-size: 11px;
                line-height: 1.455;
                color: $text;
                margin-bottom: 3px;
            }
            &-price {
                display: block;
                margin-bottom: 9px;
                font-size: 13px;
                line-height: 1.231;
                font-weight: 500;
                color: $b;
                &-old {
                    display: inline-block;
                    vertical-align: top;
                    white-space: nowrap;
                    font-size: 11px;
                    line-height: 1.455;
                    color: $t;
                    text-decoration: line-through;
                }
                &-new {
                    display: inline-block;
                    vertical-align: top;
                    white-space: nowrap;
                    color: $red;
                }
            }
        }
        &-all {
            margin-bottom: 24px;
            .button {
                width: 100%;
            }
        }
    }
}

@media (min-width: $screen) {
    .wholesale {
        &-hero {
            margin-top: -24px;
        }
        &-advantages {
            &-slider {
                .swiper-pagination-bullet-active {
                    width: 8px;
                }
            }
        }
        &-clients {
            &-list {
                justify-content: center;
                margin-left: -20px;
                margin-right: -20px;
            }
            &-item {
                padding-left: 20px;
                padding-right: 20px;
            }
        }
        &-subcategory {
            &-list {
                &.swiper-container {
                    padding-bottom: 8px;
                }
            }
        }
    }
}